@import
    "base",
    "layout",
    "syntax-highlighting",
    "bootstrap";


@media screen and (max-width: 2200px) {
   h1 {
   	font-size: 40px;
   }

   .button {
   	font-size: 20px;
   	color: black;
   }

   .buttonanswer {
 
        position: relative;
        left: 20%;
        height: 30px;
	     width: 800px;
   }

   p {
   	font-size: 25px;
   }



   .answer1_1 {
      position: relative;
      left: 2%;
   	width: 500px;
   	height: 200px;
   }

   .answer1_2 {
      position: relative;
      left: 2%;
      width: 330px;
      height: 405px;
   }


   .answer1_3 {
      position: relative;
      left: 2%;
      width: 335px;
      height: 445px;
   }

   .answer1_4 {
      position: relative;
      left: 2%;
      width: 360px;
      height: 480px;
   }

   .answer1_5 {
      position: relative;
      left: 2%;
      width: 335px;
      height: 445px;
   }

   .answer1_6 {
      position: relative;
      left: 2%;
      width: 500px;
      height: 200px;
   }

   .answer2_1 {
      position: relative;
      left: 2%;

   }

   .answer2_2 {
      position: relative;
      left: 2%;

   }

   .answer3_1 {
      position: relative;
      left: 2%;

   }

   .answer3_2 {
      position: relative;
      left: 2%;

   }

   .answer4_1 {
      position: relative;
      left: 2%;

   }

   .answer8_1 {
      position: relative;
      left: 2%;

   }

   .answer8_2 {
      position: relative;
      left: 2%;

   }

   .answer8_3 {
      position: relative;
      left: 2%;

   }

   .answer8_4 {
      position: relative;
      left: 2%;

   }

   .answer7_1 {
      position: relative;
      left: 2%;

   }

   .answer7_2 {
      position: relative;
      left: 2%;

   }

   .answer7_3 {
      position: relative;
      left: 2%;

   }

   .answer6_1 {
      position: relative;
      left: 2%;

   }

   .answer6_2 {
      position: relative;
      left: 2%;

   }

   .answer6_3 {
      position: relative;
      left: 2%;

   }
   .answer6_4 {
      position: relative;
      left: 2%;

   }

   .answer6_5 {
      position: relative;
      left: 2%;

   }

   .answer6_6 {
      position: relative;
      left: 2%;

   }

   .answer6_7 {
      position: relative;
      left: 2%;

   }

   .answer42_1 {
      position: relative;
      left: 2%;

   }

   .answer42_2 {
      position: relative;
      left: 2%;

   }

   .answer41_1 {
      position: relative;
      left: 2%;

   }

   .answer28_1 {
      position: relative;
      left: 2%;

   }

   .answer28_2 {
      position: relative;
      left: 2%;

   }

   .answer29_1 {
      position: relative;
      left: 2%;

   }

   .answer29_2 {
      position: relative;
      left: 2%;

   }

   .answer44_1 {
      position: relative;
      left: 2%;

   }

   .answer43_1 {
      position: relative;
      left: 2%;

   }

   .answer43_2 {
      position: relative;
      left: 2%;

   }

   .answer45_1 {
      position: relative;
      left: 2%;

   }

   .answer45_2 {
      position: relative;
      left: 2%;

   }

   .answer46_1 {
      position: relative;
      left: 2%;

   }

   .answer46_2 {
      position: relative;
      left: 2%;

   }

   .answer39_1 {
      position: relative;
      left: 2%;

   }

   .answer39_2 {
      position: relative;
      left: 2%;

   }

   .answer39_3 {
      position: relative;
      left: 2%;

   }

   .answer38_1 {
      position: relative;
      left: 2%;

   }

   .answer38_2 {
      position: relative;
      left: 2%;

   }

   .answer38_3 {
      position: relative;
      left: 2%;

   }

   .answer21_1 {
      position: relative;
      left: 2%;

   }

   .answer21_2 {
      position: relative;
      left: 2%;

   }

   .answer21_3 {
      position: relative;
      left: 2%;

   }

   .answer12_1 {
      position: relative;
      left: 2%;

   }

   .answer12_2 {
      position: relative;
      left: 2%;

   }

   .answer10_1 {
      position: relative;
      left: 2%;

   }

   .answer10_2 {
      position: relative;
      left: 2%;

   }

   .answer37_1 {
      position: relative;
      left: 2%;

   }

   .answer37_2 {
      position: relative;
      left: 2%;

   }

   .answer35_1 {
      position: relative;
      left: 2%;

   }

   .answer5_1 {
      position: relative;
      left: 2%;

   }

   .answer5_2 {
      position: relative;
      left: 2%;

   }
   .answer5_3 {
      position: relative;
      left: 2%;

   }

   .answer5_4 {
      position: relative;
      left: 2%;

   }

   .answer5_5 {
      position: relative;
      left: 2%;

   }

   .answer11_1 {
      position: relative;
      left: 2%;

   }

   .answer11_2 {
      position: relative;
      left: 2%;

   }

   .answer11_3 {
      position: relative;
      left: 2%;

   }

   .answer11_4 {
      position: relative;
      left: 2%;

   }

   .answer11_5 {
      position: relative;
      left: 2%;

   }

   .answer11_6 {
      position: relative;
      left: 2%;

   }

   .answer11_7 {
      position: relative;
      left: 2%;

   }

   .answer22_1 {
      position: relative;
      left: 2%;

   }

   .answer22_2 {
      position: relative;
      left: 2%;

   }

   .answer23_1 {
      position: relative;
      left: 2%;

   }

   .answer24_1 {
      position: relative;
      left: 2%;

   }

   .answer24_2 {
      position: relative;
      left: 2%;

   }

}   

@media screen and (max-width: 1400px) {
   h1 {
   	font-size: 40px;
   }

   .button {
   	font-size: 20px;
   	color: black;
   }

   .buttonanswer {
 
        position: relative;
        left: 20%;
        height: 30px;
	     width: 800px;
   }

   .answer1_1 {
      position: relative;
      left: 2%;
      width: 800px;
      height: 500px;
   }

   .answer1_2 {
      position: relative;
      left: 2%;
      width: 430px;
      height: 505px;
   }


   .answer1_3 {
      position: relative;
      left: 2%;
      width: 435px;
      height: 545px;
   }

   .answer1_4 {
      position: relative;
      left: 2%;
      width: 460px;
      height: 580px;
   }

   .answer1_5 {
      position: relative;
      left: 2%;
      width: 435px;
      height: 545px;
   }

   .answer1_6 {
      position: relative;
      left: 2%;
      width: 800px;
      height: 500px;
   }

   .answer2_1 {
      position: relative;
      left: 2%;

   }

   .answer2_2 {
      position: relative;
      left: 2%;

   }

   .answer3_1 {
      position: relative;
      left: 2%;

   }

   .answer3_2 {
      position: relative;
      left: 2%;

   }

   .answer4_1 {
      position: relative;
      left: 2%;

   }

   .answer8_1 {
      position: relative;
      left: 2%;

   }

   .answer8_2 {
      position: relative;
      left: 2%;

   }

   .answer8_3 {
      position: relative;
      left: 2%;

   }

   .answer8_4 {
      position: relative;
      left: 2%;

   }

   .answer7_1 {
      position: relative;
      left: 2%;

   }

   .answer7_2 {
      position: relative;
      left: 2%;

   }

   .answer7_3 {
      position: relative;
      left: 2%;

   }

   .answer6_1 {
      position: relative;
      left: 2%;

   }

   .answer6_2 {
      position: relative;
      left: 2%;

   }

   .answer6_3 {
      position: relative;
      left: 2%;

   }
   .answer6_4 {
      position: relative;
      left: 2%;

   }

   .answer6_5 {
      position: relative;
      left: 2%;

   }

   .answer6_6 {
      position: relative;
      left: 2%;

   }

   .answer6_7 {
      position: relative;
      left: 2%;

   }

   .answer42_1 {
      position: relative;
      left: 2%;

   }

   .answer42_2 {
      position: relative;
      left: 2%;

   }

   .answer41_1 {
      position: relative;
      left: 2%;

   }

   .answer28_1 {
      position: relative;
      left: 2%;

   }

   .answer28_2 {
      position: relative;
      left: 2%;

   }

   .answer29_1 {
      position: relative;
      left: 2%;

   }

   .answer29_2 {
      position: relative;
      left: 2%;

   }

   .answer44_1 {
      position: relative;
      left: 2%;

   }

   .answer43_1 {
      position: relative;
      left: 2%;

   }

   .answer43_2 {
      position: relative;
      left: 2%;

   }

   .answer45_1 {
      position: relative;
      left: 2%;

   }

   .answer45_2 {
      position: relative;
      left: 2%;

   }

   .answer46_1 {
      position: relative;
      left: 2%;

   }

   .answer46_2 {
      position: relative;
      left: 2%;

   }

   .answer39_1 {
      position: relative;
      left: 2%;

   }

   .answer39_2 {
      position: relative;
      left: 2%;

   }

   .answer39_3 {
      position: relative;
      left: 2%;

   }

   .answer38_1 {
      position: relative;
      left: 2%;

   }

   .answer38_2 {
      position: relative;
      left: 2%;

   }

   .answer38_3 {
      position: relative;
      left: 2%;

   }

   .answer21_1 {
      position: relative;
      left: 2%;

   }

   .answer21_2 {
      position: relative;
      left: 2%;

   }

   .answer21_3 {
      position: relative;
      left: 2%;

   }

   .answer12_1 {
      position: relative;
      left: 2%;

   }

   .answer12_2 {
      position: relative;
      left: 2%;

   }

   .answer10_1 {
      position: relative;
      left: 2%;

   }

   .answer10_2 {
      position: relative;
      left: 2%;

   }

   .answer37_1 {
      position: relative;
      left: 2%;

   }

   .answer37_2 {
      position: relative;
      left: 2%;

   }

   .answer35_1 {
      position: relative;
      left: 2%;

   }

   .answer5_1 {
      position: relative;
      left: 2%;

   }

   .answer5_2 {
      position: relative;
      left: 2%;

   }
   .answer5_3 {
      position: relative;
      left: 2%;

   }

   .answer5_4 {
      position: relative;
      left: 2%;

   }

   .answer5_5 {
      position: relative;
      left: 2%;

   }

   .answer11_1 {
      position: relative;
      left: 2%;

   }

   .answer11_2 {
      position: relative;
      left: 2%;

   }
   .answer11_3 {
      position: relative;
      left: 2%;

   }

   .answer11_4 {
      position: relative;
      left: 2%;

   }

   .answer11_5 {
      position: relative;
      left: 2%;

   }

   .answer11_6 {
      position: relative;
      left: 2%;

   }

   .answer11_7 {
      position: relative;
      left: 2%;

   }

   .answer22_1 {
      position: relative;
      left: 2%;

   }

   .answer22_2 {
      position: relative;
      left: 2%;

   }

   .answer23_1 {
      position: relative;
      left: 2%;

   }

   .answer24_1 {
      position: relative;
      left: 2%;

   }

   .answer24_2 {
      position: relative;
      left: 2%;

   }

}

@media screen and (max-width: 998px) {
	h1 {
		font-size: 60px;
	}

   .button {
   	font-size: 60px;
   	color: black;
   }

   .buttonanswer {
 
        position: relative;
        left: 1%;
        height: 60px;
	     width: 950px;
   }


   .answer1_1 {
      position: relative;
      left: 2%;
      width: 800px;
      height: 500px;
   }

   .answer1_2 {
      position: relative;
      left: 2%;
      width: 430px;
      height: 505px;
   }


   .answer1_3 {
      position: relative;
      left: 2%;
      width: 435px;
      height: 545px;
   }

   .answer1_4 {
      position: relative;
      left: 2%;
      width: 460px;
      height: 580px;
   }

   .answer1_5 {
      position: relative;
      left: 2%;
      width: 435px;
      height: 545px;
   }

   .answer1_6 {
      position: relative;
      left: 2%;
      width: 800px;
      height: 500px;
   }

   .answer2_1 {
      position: relative;
      left: 2%;

   }

   .answer2_2 {
      position: relative;
      left: 2%;

   }

   .answer3_1 {
      position: relative;
      left: 2%;

   }

   .answer3_2 {
      position: relative;
      left: 2%;

   }

   .answer4_1 {
      position: relative;
      left: 2%;

   }

   .answer8_1 {
      position: relative;
      left: 2%;

   }

   .answer8_2 {
      position: relative;
      left: 2%;

   }

   .answer8_3 {
      position: relative;
      left: 2%;

   }

   .answer8_4 {
      position: relative;
      left: 2%;

   }

   .answer7_1 {
      position: relative;
      left: 2%;

   }

   .answer7_2 {
      position: relative;
      left: 2%;

   }

   .answer7_3 {
      position: relative;
      left: 2%;

   }

   .answer6_1 {
      position: relative;
      left: 2%;

   }

   .answer6_2 {
      position: relative;
      left: 2%;

   }

   .answer6_3 {
      position: relative;
      left: 2%;

   }
   .answer6_4 {
      position: relative;
      left: 2%;

   }

   .answer6_5 {
      position: relative;
      left: 2%;

   }

   .answer6_6 {
      position: relative;
      left: 2%;

   }

   .answer6_7 {
      position: relative;
      left: 2%;

   }

   .answer42_1 {
      position: relative;
      left: 2%;

   }

   .answer42_2 {
      position: relative;
      left: 2%;

   }

   .answer41_1 {
      position: relative;
      left: 2%;

   }

   .answer28_1 {
      position: relative;
      left: 2%;

   }

   .answer28_2 {
      position: relative;
      left: 2%;

   }

   .answer29_1 {
      position: relative;
      left: 2%;

   }

   .answer29_2 {
      position: relative;
      left: 2%;

   }

   .answer44_1 {
      position: relative;
      left: 2%;

   }

   .answer43_1 {
      position: relative;
      left: 2%;

   }

   .answer43_2 {
      position: relative;
      left: 2%;

   }

   .answer45_1 {
      position: relative;
      left: 2%;

   }

   .answer45_2 {
      position: relative;
      left: 2%;

   }

   .answer46_1 {
      position: relative;
      left: 2%;

   }

   .answer46_2 {
      position: relative;
      left: 2%;

   }

   .answer39_1 {
      position: relative;
      left: 2%;

   }

   .answer39_2 {
      position: relative;
      left: 2%;

   }

   .answer39_3 {
      position: relative;
      left: 2%;

   }

   .answer38_1 {
      position: relative;
      left: 2%;

   }

   .answer38_2 {
      position: relative;
      left: 2%;

   }

   .answer38_3 {
      position: relative;
      left: 2%;

   }

   .answer21_1 {
      position: relative;
      left: 2%;

   }

   .answer21_2 {
      position: relative;
      left: 2%;

   }

   .answer21_3 {
      position: relative;
      left: 2%;

   }

   .answer12_1 {
      position: relative;
      left: 2%;

   }

   .answer12_2 {
      position: relative;
      left: 2%;

   }

   .answer10_1 {
      position: relative;
      left: 2%;

   }

   .answer10_2 {
      position: relative;
      left: 2%;

   }

   .answer37_1 {
      position: relative;
      left: 2%;

   }

   .answer37_2 {
      position: relative;
      left: 2%;

   }

   .answer35_1 {
      position: relative;
      left: 2%;

   }

   .answer5_1 {
      position: relative;
      left: 2%;

   }

   .answer5_2 {
      position: relative;
      left: 2%;

   }
   .answer5_3 {
      position: relative;
      left: 2%;

   }

   .answer5_4 {
      position: relative;
      left: 2%;

   }

   .answer5_5 {
      position: relative;
      left: 2%;

   }

   .answer11_1 {
      position: relative;
      left: 2%;

   }

   .answer11_2 {
      position: relative;
      left: 2%;

   }
   .answer11_3 {
      position: relative;
      left: 2%;

   }

   .answer11_4 {
      position: relative;
      left: 2%;

   }

   .answer11_5 {
      position: relative;
      left: 2%;

   }

   .answer11_6 {
      position: relative;
      left: 2%;

   }

   .answer11_7 {
      position: relative;
      left: 2%;

   }


   .answer22_1 {
      position: relative;
      left: 2%;

   }

   .answer22_2 {
      position: relative;
      left: 2%;

   }

   .answer23_1 {
      position: relative;
      left: 2%;

   }

   .answer24_1 {
      position: relative;
      left: 2%;

   }

   .answer24_2 {
      position: relative;
      left: 2%;

   }

}

